
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
   <div class="contianer-fluid">
        <div class="col-md-4">
            <img src="~/Content/Images/Asset 1.png" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/Asset 2.png" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/Asset 3.png" />
        </div>
    </div>

</div>

@*@foreach(var animal in Model)
{*@
    <div class="containter-fluid padding petCards"
     <div class="row-padding">
         <div class="col-md-6">
             <div class="card">
               <div class="card-img-top"></div>
               <div class="card-body">
                   <h4 class="card-title">PetName</h4>
               </div>
             </div>
         </div>
     </div>
</div>