@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.html, .body {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #222;
    
}

.wrapper{
    width: 100%;
    padding: 0;
    background-color: #b6cecd;
}
.navbar {
    color: #F8F9FA;
    margin-bottom: 5px;
}
.navbar {
    padding: .5rem;
}

.navbar-nav li {
    padding-right: 1.8rem;
    color: #c16e70;
}

.nav-link {
    font-size: 1.1rem;
    color: #c16e70;
}
.nav-link hover {
     color: #6c9d9b;
 }



/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.input,
.textarea {
    max-width: 280px;
}

.header, .footer{
    position: fixed;
}

.jumbotron {
    margin-top: 0px;
    width: 100%;
    min-height: 180px;
    background-color: #333333;
    padding: 1rem;
    position: relative;
    border-radius: 0;
    color: #faf9f9;
    box-shadow: #85adab 5px 5px; 
}
.jumbotron img{
    width: auto;
}
.card{
   
    padding: 2em;
}
.footer{
    justify-content: center;
}

